.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.flex-container>* {
    margin: 15px;
    width: 220px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}